<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- u-index CSS -->
    <link rel="stylesheet" href="styles/u-index.css">
  </head>
  <body>
    
    <header>
      <h1 class="text-center">Current Sellers</h1>
    </header>

    <%- include('../partials/navbar') %>
    <%- include('../partials/searchbar') %>


    <main class="seller-div">
      <ul class="sellers-items">
        <% for(let i = 0; i < users.length; i++) { %> 
        <li>
          <a class="sellers-anchor" href="/users/<%= users[i].id %>"><%= users[i].name %> </a>
        </li>
        <% } %>
      </ul>
    </main>

    <%- include('../partials/footer') %> 

  </body>
</html>
