<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- u-show CSS -->
    <link rel="stylesheet" href="/styles/u-show.css" />
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main>
      <div class="row p-0 m-0 justify-content-center">
        <h1 class="text-center show-user-h1">
          <%= user.name %>'s Profile Info
        </h1>
      </div>

      <div class="row p-0 m-0">
        <div class="col-md text-center">
          <p class="show-user-info-p">
            <span class="show-user-info-span">Name:</span> <%= user.name %>
          </p>
          <p class="show-user-info-p">
            <span class="show-user-info-span">Username:</span> <%= user.userName
            %>
          </p>
          <p class="show-user-info-p">
            <span class="show-user-info-span">Password:</span> <%= user.password
            %>
          </p>
          <p class="show-user-info-p">
            <span class="show-user-info-span">Location:</span> <%= user.location
            %>
          </p>

          <!-- Google Maps -->
          <iframe
            class="show-user-map"
            frameborder="0"
            style="border: 0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= api %>&q=<%= user.location %>"
            allowfullscreen
          >
          </iframe>

          <div>
            <form
              class="d-inline p-2"
              action="/users/<%= user.id %>?_method=DELETE"
              method="POST"
            >
              <input
                class="btn show-user-del-edit-btn"
                type="submit"
                value="Delete"
              />
            </form>
            <form
              class="d-inline p-2"
              action="/users/<%= user.id %>/edit"
              method="GET"
            >
              <input
                class="btn show-user-del-edit-btn"
                type="submit"
                value="Update"
              />
            </form>
          </div>
        </div>

        <div class="col-md text-center">
          <h3 class="show-user-h3">Current Listings</h3>

          <ul>
            <% for (let i = 0; i < user.products.length; i++) { %>
            <li class="show-user-listings">
              <a
                class="show-user-listings-anchors"
                href="/products/<%= user.products[i].id %>"
                ><%= user.products[i].type %>
              </a>
            </li>
            <% } %>
          </ul>

          <button class="btn show-user-listings-btn">
            <a class="show-user-listings-btn-anchor" href="/products/new"
              >Create New Listing</a
            >
          </button>
        </div>
      </div>
      <div class="push"></div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
