<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- p-edit CSS -->
    <link rel="stylesheet" href="/styles/p-edit.css" />
  </head>
  <body class="container-fluid p-0 m-0">
    <%- include('../partials/navbar') %>

    <main>
      <div class="row p-0 m-0 justify-content-center">
        <h1 class="edit-product-h1">Update Listing</h1>
      </div>

      <section class="row p-0 m-0 justify-content-center">
        <form class="edit-product-form" action="/products/<%= product.id %>?_method=PUT" method="POST">
          <div>
            <label for="type">For Sale: </label>
            <input
              class="text-input"
              type="text"
              name="type"
              value="<%= product.type %>"
            />
          </div>

          <div>
            <label for="price">Price: </label>
            <input
              class="text-input"
              type="text"
              name="price"
              value="<%= product.price %>"
            />
          </div>

          <div>
            <label for="condition">Condition: </label>
            <input
              class="text-input"
              type="text"
              name="condition"
              value="<%= product.condition %>"
            />
          </div>

          <div>
            <label for="image">Image URL: </label>
            <input
              class="text-input"
              type="text"
              name="image"
              value="<%= product.image %>"
            />
          </div>

          <input class="btn edit-product-submit" type="submit" />
        </form>
      </section>

      <div class="push"></div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>