<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- p-index CSS -->
    <link rel="stylesheet" href="styles/p-index.css">
  </head>
  <body class="container-fluid p-0 m-0">
    <%- include('../partials/navbar') %>

    <main>
      <div class="row p-0 m-0 justify-content-center">
        <h1 class="products-h1">Current Listings</h1>
      </div>

      <div class="row p-0 m-0 justify-content-center">
        <ul>
          <% for(let i = 0; i < products.length; i++) { %> 
          <li class="products-list-items">
            <a class="products" href="/products/<%= products[i].id %>"><%= products[i].type %> $<%= products[i].price %></a>
          </li>
          <% } %>
        </ul>
      </div>
      
      <div class="push"></div>
    </main>

    <%- include('../partials/footer') %> 

  </body>
</html>