<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- p-index CSS -->
    <link rel="stylesheet" href="styles/p-index.css">
  </head>
  <body class="container-fluid p-0 m-0">
    <header>
      <h1 class="text-center">Current Listings</h1>
    </header>

    <%- include('../partials/navbar') %> 
  
    <main class="listing-div mb-0">
      <ul class="list-items">
        <% for(let i = 0; i < products.length; i++) { %> 
        <li>
          <a class = "list-anchor" href="/products/<%= products[i].id %>"><%= products[i].type %> $<%= products[i].price %></a>
        </li>
        <% } %>
      </ul>
    </main>

    <%- include('../partials/footer') %> 

  </body>
</html>