<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- p-new CSS -->
    <link rel="stylesheet" href="/styles/p-new.css">
  </head>
  <body class="container-fluid p-0 m-0">
    <%- include('../partials/navbar') %>

    <main>
      <div class="row p-0 m-0 justify-content-center">
        <h1 class="new-product-h1"> List An Item </h1>
      </div>

      <section class="row p-0 m-0 justify-content-center">
        <form class="new-product-form" action="/products" method="POST">
          <div>
            <select class="form-control" name="user">
              <% users.forEach((user) => { %>
              <option value="<%= user.id %>"><%= user.name %></option>
              <% }) %>
            </select>
            <label for="type">For Sale: </label>
            <input class="text-input" id="type" name="type" type="text"></input>
          </div>
    
          <div>
            <label for="price">Price: </label>
            <input class="text-input" id="price" name="price" type="text"></input>
          </div>
    
          <div>
            <label for="condition">Condition: </label>
            <input class="text-input" id="condition" name="condition" type="text"></input>
          </div>
    
          <div>
            <label for="image">Image: </label>
            <input class="text-input" id="image" name="image" type="text"></input>
          </div>
    
          <button class="btn new-product-submit" type="submit">Create</button>
    
        </form>
      </section>
      <div class="push"></div>
    </main>


    

    <%- include('../partials/footer') %> 
  
  </body>
</html>