<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head-contents') %>
    <!-- p-show CSS -->
    <link rel="stylesheet" href="/styles/p-show.css" />
  </head>
  <body class="container-fluid p-0 m-0">
    <%- include('../partials/navbar') %>

    <main>
      <div class="row p-0 m-0 justify-content-center">
        <h1 class="show-product-h1">Product For Sale</h1>
      </div>

      <div class="row p-0 m-0 justify-content-center">
        <div class="col-md-4 p-3">
          <p class="show-product-info">
            <span>Name: </span> <%= product.type %>
          </p>
          <p class="show-product-info">
            <span>Price: </span> $ <%= product.price %>
          </p>
          <p class="show-product-info">
            <span>Condition:</span> <%= product.condition %>
          </p>
          <p class="show-product-info">
            Seller:
            <a href="/users/<%= product.user.id %>">
              &MediumSpace;<%= product.user.userName %>
            </a>
          </p>

          <p class="show-product-info">
            <span>Location: </span><%= product.user.location %>
          </p>
          <!-- Google Maps Embedded API -->
          <iframe
          class="show-product-map"
            frameborder="0"
            style="border: 0"
            src="https://www.google.com/maps/embed/v1/place?key=<%= api %> 
          &q=<%= product.user.location %>"
            allowfullscreen
          >
          </iframe>
          <div class="edit-delete-btn">
            <form
              class="show-product-delete"
              action="/products/<%= product.id %>?_method=DELETE"
              method="POST"
            >
              <input class="btn" type="submit" value="Delete" />
            </form>
            <form
              class="show-product-edit"
              action="/products/<%= product.id %>/edit"
              method="GET"
            >
              <input class="btn" type="submit" value="Update" />
            </form>
          </div>
        </div>
        <div class="col-md-4 p-3">
          <img
            class="img-fluid show-product-img"
            src="<%= product.image %>"
            alt=""
          />
        </div>
      </div>

      <div class="push"></div>
    </main>

    <%- include('../partials/footer') %>
  </body>
</html>
